html {
    font-family: Helvetica;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    background-color: #0d1427; /* Gris foncé */
    color: #ffffff; /* Texte en blanc sur le fond gris foncé */
}
h1 {
    color: #7cb9e2;
    padding: 2vh;
}
p {
    font-size: 1.8rem;
}
.button {
    display: inline-block;
    background-color: #1b2742;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 18px 70px; /* Largeur fixe de 20px pour tous les boutons */
    text-decoration: none;
    font-size: 30px;
    margin: 2px;
    cursor: pointer;
}
.bottom-text {
    color: rgb(41, 129, 170); /* Couleur verte */
    text-align: center; /* Centrer le texte horizontalement */
    margin-top: 20px; /* Espacement depuis le haut de la page */
}
.button-link {
    display: inline-block;
    margin: 0 17px; /* Espacement horizontal entre les boutons */
}

    
        